$typo-logo : 'Shrikhand', cursive;

$padding-section: 20px;


$couleur-primaire :#9356DC;

$couleur-second: #FF79DA;

$couleur-ter: #99E2D0;

$gris-clair: #F6F6F6;

$blanc : white;

$gris-fonce: #353535;


$fond-input: #eaeaea;

$padding-section: 20px;

