footer {

    display: flex;
    flex-direction: column;

    padding: $padding-section;

    height: 200px ;
    color: white;
    background-color: $gris-fonce ;

    line-height: 40px;
    
    h4{
        font-family: $typo-logo;
        font-weight: lighter;
        font-size: 18px;

    }

    a {
        color: white;
        line-height: 28px;
    
    }

    .intro {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
}