.réservation {
    display: grid;
    gap: 20px;
  
    padding: 40px 20px 50px 20px;
    height: 285px;
    background-color: rgb(246,246,246);
  
    text-align: center;


    h2 {
        font-size: 24px;
        font-weight: bold;
      }

      p {
        font-size: 18px;
        font-weight: 300 ;
      }
      
  
  }

  .bouton a{
    display: inline-block;
    width: auto;
    font-size: 16px;
    font-weight: bold;
    color: white;
  
    background: linear-gradient(180deg, #EF74DA 10.42%, #B974EF 100%);
    border-radius: 25px;
  
    padding: 15px;
    margin-top: 20px;
    box-shadow: 1px 1px 7px grey;
    
    
  }