html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
  
    font-family: 'Roboto', sans-serif;
  
  }
  
  *,*::before, *::after {
    box-sizing: border-box;
  }
  
  h1, h2, p, h4, ul {
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }