html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 370px;
  max-width: 2000px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  justify-content: center;
  height: 100vh;
}

.loader {
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, p, h4, ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contener {
  display: grid;
  background-image: url("../images/restaurants/palette-gout.jpg");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: top;
  padding-top: 220px;
}
.contener .menus {
  display: grid;
  row-gap: 35px;
  background-color: #F6F6F6;
  padding: 30px 17px;
  border-radius: 40px 40px 0 0;
}
.contener .menus__entete {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.contener .menus__entete h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 28px;
}
.contener .menus__entete .coeur {
  justify-self: center;
  align-self: center;
  font-size: 25px;
  font-weight: 100;
}
.contener .menus h2 {
  position: relative;
  font-size: 16px;
  font-weight: lighter;
}
.contener .menus h2::before {
  position: absolute;
  top: 25px;
  content: "";
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
}
.contener .menus .entrees, .contener .menus .plats, .contener .menus .dessert {
  display: grid;
  row-gap: 20px;
}
.contener .menus .entrees__content, .contener .menus .plats__content, .contener .menus .dessert__content {
  display: grid;
  row-gap: 20px;
}
.contener .menus .entrees {
  animation: apparition 1000ms 1000ms forwards;
  opacity: 0;
}
.contener .menus .plats {
  animation: apparition 1000ms 2000ms forwards;
  opacity: 0;
}
.contener .menus .dessert {
  animation: apparition 1000ms 3000ms forwards;
  opacity: 0;
}
.contener .menus .blocs-menu {
  display: grid;
  gap: 25px;
  padding: 20px;
  height: 100%;
}
.contener .menus .card-plat {
  display: flex;
  height: 70px;
  width: 347px;
  padding: 12px;
  position: relative;
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 4px 10px #C4C4C4;
}
.contener .menus .card-plat:hover {
  box-shadow: 5px 6px 8px #8a8989;
}
.contener .menus .card-plat:hover > .card-content {
  flex: 0 0 70%;
}
.contener .menus .card-plat:hover > .card-price {
  flex: 0 0 15%;
}
.contener .menus .card-plat:hover > .card-icon {
  transform: translateX(0%);
}
.contener .menus .card-plat:hover > .card-icon i {
  transform: rotate(360deg);
}
.contener .menus .card-plat .card-content {
  display: grid;
  gap: 5px;
  flex: 1 1 85%;
  transition: flex 500ms linear;
}
.contener .menus .card-plat h4 {
  font-size: 18px;
}
.contener .menus .card-plat h4, .contener .menus .card-plat p {
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
.contener .menus .card-plat .card-price {
  display: grid;
  align-items: end;
  justify-items: start;
  padding: 5px;
  font-weight: bold;
  transition: flex 500ms linear;
}
.contener .menus .card-plat .card-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 18%;
  height: 100%;
  z-index: 10;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  display: grid;
  place-items: center;
  transform: translateX(100%);
  transition: transform 500ms linear;
}
.contener .menus .card-plat .card-icon i {
  color: white;
  font-size: 22px;
  transition: transform 500ms;
}
.contener .bouton {
  justify-self: center;
}
.contener .bouton a {
  padding-left: 50px;
  padding-right: 50px;
}

@media only screen and (min-width: 990px) {
  .blocs-menu {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card-plat {
    min-height: 100px;
  }
}

/*# sourceMappingURL=restaurants.css.map */
