@charset "UTF-8";
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 370px;
  max-width: 2000px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  justify-content: center;
  height: 100vh;
}

.loader {
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, p, h4, ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

header {
  display: flex;
  position: relative;
  height: 65px;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  font-family: "Shrikhand", cursive;
  box-shadow: 0px 1px 10px grey;
}
header a {
  position: absolute;
  top: 26px;
  left: 23px;
}
header img {
  height: 60%;
}

.localisation {
  display: flex;
  z-index: -1;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
.localisation i {
  margin-right: 5px;
  margin-bottom: 5px;
}
.localisation input {
  display: flex;
  border: none;
  padding-left: 15px;
  background-color: #eaeaea;
}
.localisation input::placeholder {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

body .loader {
  display: flex;
  background-color: white;
  position: absolute;
  z-index: 2;
  justify-content: center;
}
body .loader .spinner {
  border-top: solid 5px #FF79DA;
  border-right: solid 5px #9356DC;
  border-bottom: solid 5px #FF79DA;
  border-left: solid 5px #9356DC;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  align-self: center;
  z-index: 3;
}

.réservation {
  display: grid;
  gap: 20px;
  padding: 20px;
  height: 285px;
  background-color: #F6F6F6;
  text-align: center;
}
.réservation h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}
.réservation p {
  font-size: 18px;
  font-weight: 300;
}

.bouton a {
  display: inline-block;
  width: auto;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(180deg, #FF79DA 10.42%, #9356DC 100%);
  border-radius: 25px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 10px #C4C4C4;
}
.bouton a:hover {
  box-shadow: 5px 6px 8px #8a8989;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F6F6F6;
}
.restaurants h2 {
  margin-bottom: 25px;
}
.restaurants__content {
  display: grid;
  row-gap: 20px;
}
.restaurants__card {
  position: relative;
  width: 335px;
  height: 250px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 10px #C4C4C4;
}
.restaurants__card:hover {
  box-shadow: 5px 6px 8px #8a8989;
}
.restaurants__card .btn-nouveau {
  display: flex;
  position: absolute;
  right: 13px;
  top: 13px;
  width: 79px;
  height: 30px;
  background: #99E2D0;
  border-radius: 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #0E8F70;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.restaurants__card img {
  width: 335px;
  height: 173px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants .legend {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 1fr;
  padding: 15px;
}
.restaurants .legend .titre {
  display: grid;
  gap: 5px;
}
.restaurants .legend .coeur {
  font-size: 24px;
  justify-self: center;
}

@media only screen and (min-width: 1080px) {
  .restaurants__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .restaurants__card {
    width: 500px;
  }
  .restaurants__card img {
    width: 500px;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  height: 440px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-left: 27px;
}
.menu i {
  color: #353535;
}
.menu h2 {
  margin-top: 30px;
  margin-bottom: 35px;
}
.menu ul {
  display: grid;
  gap: 24px;
}
.menu li {
  position: relative;
  width: 322px;
  height: 74px;
  background: #F6F6F6;
  border-radius: 20px;
  padding: 28px;
  z-index: 1;
  font-weight: bold;
  align-items: center;
  box-shadow: 0px 4px 10px #C4C4C4;
  transition: background-color 300ms;
}
.menu li:hover {
  box-shadow: 5px 6px 8px #8a8989;
}
.menu li:hover::after {
  opacity: 1;
}
.menu li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background-color: #e9ddf8;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.menu li::after i {
  color: red;
}
.menu li .pastille {
  display: flex;
  position: absolute;
  left: -13px;
  top: 26px;
  height: 25px;
  width: 25px;
  background: #9356DC;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: white;
  font-weight: normal;
}
.menu li .content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  margin-left: 15px;
}

@media only screen and (min-width: 1080px) {
  .menu {
    height: 270px;
  }
  .menu ul {
    display: flex;
    gap: 50px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 200px;
  color: white;
  background-color: #353535;
  line-height: 40px;
}
footer h4 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  font-size: 18px;
}
footer a {
  color: white;
  line-height: 28px;
}
footer .intro {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/*# sourceMappingURL=styles.css.map */
